{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="../static/css/main.css" />
<title>Verify Wallet Coin App</title>
{% endblock %} {% block body %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Coin App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            My Account
          </a>
          <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
          <div
            class="dropdown-menu dropdown-menu-right animate slideIn"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="history.html">History</a>
            <a class="dropdown-item" href="transaction.html">Transaction</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="signin.html">Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Input data -->
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Verify Wallet</h5>
          <form class="form-signin">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Mainnet ETH</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                required
                autofocus
              >
                <option>Local Host</option>
                <option>TestNet Eth</option>
                <option>MainNet Eth</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputEmail">Address to Admin</label>
              <input
                type="text"
                id="inputEmail"
                class="form-control"
                placeholder="Address to Admin"
                required
              />
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Token ID</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="5"
                required
              ></textarea>
            </div>

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Submit
            </button>
            <hr class="my-4" />
            <button
              class="btn btn-lg btn-google btn-block text-uppercase"
              type="submit"
            >
              <i class="fab fa-google mr-2"></i> 1.000.000 $
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>
  {% endblock%}
</div>
